*, *:before, *:after
  margin 0
  padding 0
  -webkit-box-sizing border-box
  box-sizing border-box
  
-webkit-placeholder
  color rgba(32, 32, 32, 0) 
@font-face
  font-family CtCommandPrompt
  src url('Command-Prompt-12x16.ttf')
  
textarea
  margin 0
  padding 0
  border none
  background rgba(0, 0, 0, 1)
  outline none
  resize none
  width 100%
  
button
  transition all 1s
  
a
  margin-left 1em
  
body
  background #000000
  font-size 1em
  margin-bottom 3em

.content
  margin-left 50px